---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

Monsoon Brain Meeting India (2020) | Contributed Talk
<br>
EMBO Symposium on <i>Calcium Signaling: Molecular Mechanisms to Role in Health and Diseases</i>,
NCBS, Bengaluru (2020) | Poster
<br>
Annual Young Investigators’ Meeting (YIM) and PDF Satellite Session, Guwahati (2019) | Contributed
Talk and Poster
<br>
EMBO Workshop on <i>Molecular Neuroscience: From Genes to Circuits in Health and Disease</i>, NCBS,
Bengaluru (2019) | Poster
<br>
EMBO Meeting on <i>Dendrites: Anatomy, Molecules & Function</i>, Heraklion (2018) | Poster
<br>
Annual Meeting of the Indian Biophysical Society, IISER, Pune (2018) | Posters
<br>
Annual Meeting of the Society for Neuroscience, Washington, DC (2017) | Poster
<br>
Annual Meeting of the Society for Neuroscience, San Diego (2016) | Poster
<br>
Visiting Fellow Seminar, Hanse-Wissenschaftskolleg, Delmenhorst, Germany (2010) | Research Talk
<br>
Physical Research Laboratory, Thaltej, Ahmedabad (2009) | Invited Research Talk
<br>
<i>Prospects and Problems of Gravitation & Cosmology</i> meeting, Jamia Millia Islamia, New Delhi (2008) | Invited Research Talk
<br>
Conference on <i>Field-Theoretic Aspects of Gravity</i>, Harish-Chandra Research Institute, Allahabad (2007) | Contributed Research Talk

