---
layout: archive
title: "Teaching Experience"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

TA for Neuromatch Academy Summer Schools in <i>Computational Neuroscience</i> (Jul '21) and <i>Deep Learning</i> (Aug '21)
<br>
<br>
Taught modules on neural learning and memory as part of the undergrad neurobiology course at IISER, Pune (2016-17)
<br>
<br>
Teaching Assistant for graduate-level courses (<i>Mathematical Methods</i> and <i>Quantum & Statistical Mechanics</i>) during PhD at IUCAA, Pune
<br>
<br>
Was involved in training several UG/PG students (lab rotation/semester/summer trainees) during postdocs at IISER and NCCS 
(co-mentored 3 undergrad project theses on computational biology topics)
